

.navigation {
    display: flex;
    
}
.menu {
    display: flex;
    align-items: center;
}
.header{
    position: relative;
}
.header .container{
    @media screen and (max-width: 1200px) {
        margin-left: 15px;

    }
}